{%include 'header.html'%}
    <div class="container mt-5">
        <div class="alert alert-success display-1">Alumnos</div>
        <table class="table table-striped">
          <tr><td>Rut</td><td>{{Alumnos.ALUMRUT}}</td></tr>
          <tr><td>Nombre</td><td>{{Alumnos.ALUMNOMBRE}}</td></tr>
          <tr><td>Apellido Paterno</td><td>{{Alumnos.ALUMAPATERNO}}</td></tr>
          <tr><td>Apellido Materno</td><td>{{Alumnos.ALUMAMATERNO}}</td></tr>
          <tr><td>Direccion</td><td>{{Alumnos.ALUMDIRECCION}}</td></tr>
          <tr><td>Email</td><td>{{Alumnos.ALUMEMAIL}}</td></tr>
          <tr><td>Fono</td><td>{{Alumnos.ALUMNFONO}}</td></tr>
        </table>
       <a href="../../alumnos/" class="btn btn-success">Volver</a>
    </div>
{%include 'footer.html'%}