{%include 'header.html'%}
<div class='container mt-5'>
  <form method="GET" action="/filter-Cursos/">
    {% csrf_token %}
    {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Buscar</button>
  </form>
  <hr>
  <!-- Mostrar los alumnos -->
   <table class="table table-striped">
    <thead>
      <tr>
        <th>Tipo curso codigo</th>
        <th>Curso nombre</th>
        <th>Curso Valor</th>
      </tr>
    </thead>
    <tbody>
      {% for Cur in Cursos %}
        <tr>
            <td>{{Cur.TIPCURCODIGO}}</td>
            <td>{{Cur.TIPCURNOMBRE}}</td>
            <td>{{Cur.TIPCURVALOR}}</td>
          <td>
            <a href="/update-Cursos/{{Cur.TIPCURCODIGO}}">Editar</a>
            <a href="/delete-Cursos/{{Cur.TIPCURCODIGO}}">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
</div>

<br>
{%include 'footer.html'%}