{%include 'header.html'%}
    <div class="container mt-5">
        <div class="alert alert-success display-1">Cursos </div>
        <table class="table table-striped">
          <tr><td>Tipo curso codigo: </td><td>{{Cursos.TIPCURCODIGO}}</td></tr>
          <tr><td>Curso nombre: </td><td>{{Cursos.TIPCURNOMBRE}}</td></tr>
          <tr><td>Curso Valor: </td><td>{{Cursos.TIPCURVALOR}}</td></tr>
        </table>
       <a href="/Cursos/" class="btn btn-success">Volver</a>
    </div>
{%include 'footer.html'%}