{%include 'header.html'%}
<div class='container mt-5'>
   <div class="alert alert-success display-1">Matriculas</div>
   {%if Matricula%}
        <table class="table table-striped">
              <thead>
                    <tr>
                        <th>Numero de Matricula:</th>
                        <th>Nombre-Valor del Curso:</th>
                        <th>Rut-Nombre del alumno:</th>
                        <th>Codigo-Nombre de Sucursal:</th>
                        <th>Fecha de Matricula:</th>
                        <th colspan="3">Acciones</th>
                    </tr>
                <tbody>
                        {%for Mat in Matricula%}   
                            <tr>
                                <td>{{Mat.MATNUMERO}}</td>
                                <td>{{Mat.TIPCURCODIGO.TIPCURNOMBRE }} - {{ Mat.TIPCURCODIGO.TIPCURVALOR }}</td>
                                <td>{{Mat.ALUMRUT.ALUMRUT}}  - {{ Mat.ALUMRUT.ALUMNOMBRE }}</td>
                                <td>{{Mat.SUCCODIGO.SUCCODIGO}}  - {{ Mat.SUCCODIGO.SUCNOMBRE }}</td>
                                <td>{{Mat.MATFECHA}}</td>

                                

                                <td><a href="/update-Matricula/{{Mat.MATNUMERO}}" 
                                    class="btn btn-warning">
                                    <i class="bi bi-pencil"></i></a>
                                </td>
                                <td><a href="/delete-Matricula/{{Mat.MATNUMERO}}" 
                                    class="btn btn-danger">
                                    <i class="bi bi-trash"></i></a>
                                </td>
                                <td><a href="/view-Matricula/{{Mat.MATNUMERO}}" 
                                    class="btn btn-success">
                                    <i class="bi bi-eye"></i></a>
                                </td>
                            </tr>
                            
                            {%endfor%}
                            <tr>
                                <td colspan="1" class="text-right"><strong>Total Valor de Cursos:</strong></td>
                                <td class="text-right"><strong>${{ total_valor }}</strong></td>
                            </tr>
                            <tr>
                                <td colspan="1" class="text-right"><strong>Total de Cursos:</strong></td>
                                <td><strong>{{ total_cursos }}</strong></td>
                            </tr>
                            
                            
                </tbody>
        </table>
        {%else%}
              <div class="alert alert-info">No Hay Matriculas a Mostrar</div>
        {%endif%}
        <a href="/create-Matricula/" class="btn btn-success">Agregar</a>
        <a href="/filter-Matricula/" class="btn btn-success">Filtrar</a>
</div>
{%include 'footer.html'%}   