{%include 'header.html'%}
<div class='container mt-5'>
  <form method="GET" action="/filter-Sucursales/">
    {% csrf_token %}
    {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Buscar</button>
  </form>
  <hr>
  <!-- Mostrar los Sucursales -->
   <table class="table table-striped">
    <thead>
      <tr>
        <th>ID sucursal</th>
        <th>Id. Ciudad</th>
        <th>Nombre de Sucursal</th>
      </tr>
    </thead>
    <tbody>
      {% for suc in Sucursales %}
        <tr>
            <td>{{suc.SUCCODIGO}}</td>
            <td>{{suc.CIUCODIGO.CIUCODIGO}}</td>
            <td>{{suc.SUCNOMBRE}}</td>
          <td>
            <a href="/update-Sucursales/{{suc.SUCCODIGO}}">Editar</a>
            <a href="/delete-Sucursales/{{suc.SUCCODIGO}}">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
</div>

<br>
{%include 'footer.html'%}